import { todo, mainColor, btnColor } from '../../store';

const todoMapped = maplist(todo, (item) => ({
    item: item,
    del() {
        const index = todo.raw.indexOf(item);
        if (index !== -1) {
            todo.splice(index, 1);
        }
    }
}));

const todoInput = state('');

todoInput.onChange((item, prev) => {
    if (item) {
        todo.push(item);
    }
});

component <
    ListVerify bind:list="todoMapped" <
        slot for="empty" <* todo list is empty *>
        slot <
            div class="collection" <
                foreach collect:list="todoMapped" extract="item del" <
                    div class="collection-item row valign-wrapper" <
                        div class="col l8" <{item}>
                        div class="col l4 right-align" <
                            button bind:class="btnColor" on:click="del" <
                                delete
                            >
                        >
                    >
                >
            >
        >
    >
    InputField name="todo" bind:value="todoInput" reset="true" <
        press enter to add something
    >
>
