import { counter, urmom, todo, mainColor, btnColor } from '../store';

const setColor = (color) => () => mainColor.value = color;
const setPurple = setColor('purple');
const setRed = setColor('red');
const setOrange = setColor('orange');
const setGreen = setColor('green');
const setBlue = setColor('blue');

const increaseFromHome = () => counter.value++;

div class="container" <
    h3 <Hello, world!>
    p <
        update file at code< b <src/pages/Home.rc>> to modify this page
    >
    h5 <Global States>
    ul <
        button
            bind:class="btnColor"
            on:click="increaseFromHome" <
                increase Counter from home
            >
        li <counter : {counter}>
        li <ur mom : {urmom}>
        li <
            todos:
            ListVerify bind:list="todo" <
                slot for="empty" <* Nothing *>                
                foreach collect:list="todo" as="item" <
                    li <## {item} ##>
                >
            >
        >
    >
    h5 <Theme>
    current Theme : b <{mainColor}> br <>
    button class="btn purple" on:click="setPurple" <Purple>
    button class="btn red" on:click="setRed" <Red>
    button class="btn orange" on:click="setOrange" <Orange>
    button class="btn green" on:click="setGreen" <Green>
    button class="btn blue" on:click="setBlue" <Blue>
>
