import { mainColor } from '../store';

const [sidebar] = stateLocalStorage('testing_sidebar', 'counter');
const sideItems = [
    {
        title: 'Counter',
        value: 'counter'
    },
    {
        title: "Your Mom's name",
        value: 'urmom'
    },
    {
        title: 'To do List',
        value: 'todolist',
    },
    {
        title: 'Lifecycle of cat',
        value: 'zeta',
    }
];


div <
    div class="row container" <
        div class="col l4" <
            SideBar
                title="Testing"
                bind:items="sideItems"
                bind:sideState="sidebar"
                bind:color="mainColor" <>
        >
        div class="col l8" <
            if state:value="sidebar" equal="counter" <
                Article title="Counter" <
                    CounterArticle <>
                >
            >
            if state:value="sidebar" equal="urmom" <
                Article title="Your Mom's name" <
                    UrmomArticle <>
                >
            >
            if state:value="sidebar" equal="todolist" <
                Article title="To do List" <
                    TodoListArticle <>
                >
            >
            if state:value="sidebar" equal="zeta" <
                Article title="Lifecycle of Cat" <
                    Zeta <>
                >
            >
        >
    >
>
