const {
    name = '',
    type = 'text',
    value = state(),
    reset,
    live
} = props;

const id = Math.floor(Math.random() * Math.pow(2, 32)).toString(36) + '-' + name;

function bindValue(ev) {
    value.setValue(ev.target.value);
    if (reset) {
        value.setValue('');
    }
}

div class="input-field" <
    if value="live" <
        input
            bind:id="id"
            bind:type="type"
            class="validate"
            bind:value="value"
            on:input="bindValue" <>
    >
    unless value="live" <
        input
            bind:id="id"
            bind:type="type"
            class="validate"
            bind:value="value"
            on:change="bindValue" <>
    >
    label bind:for="id" class="active" <children <>>
>
