const { list } = props;

const length = state(list.raw.length);
const [isEmpty] = stateObserve(length, (length) => length <= 0);

list.onInsert(() => (length.value = list.raw.length));
list.onDelete(() => (length.value = list.raw.length));

div <
    if state:value="isEmpty" <
        children name="empty" <>
    >
    unless state:value="isEmpty" <
        children <>
    >
>