const { title, items, color, initial } = props;
const navState = props.navState || (props.initial ? state(initial) : state(items[0]?.value || ''));

const tabsObj = {};
const tabList = [];
for (const tab of items) {
    const active = state(false);
    const [linkClass] = stateObserve(active, (active) => (active ? 'active' : ''));
    const [tabClass] = stateObserve(linkClass, (val) => 'tab ' + val);
    const obj = {
        title: tab.title,
        active: active,
        linkClass: linkClass,
        tabClass: tabClass,
        onClick() {
            navState.value = tab.value;
        }
    };
    tabsObj[tab.value] = obj;
    tabList.push(obj);
}
observe(navState, (next, prev) => {
    if (tabsObj[next]) {
        tabsObj[prev].active.value = false;
        tabsObj[next].active.value = true;
    } else {
        navState.value = items[0]?.value || '';
    }
});

const navClass = typeof color === 'string'
    ? 'nav-extended center ' + (color || '')
    : stateObserve(color, (color) => 'nav-extended center ' + color)[0];

div <
    nav bind:class="navClass" <
        div class="nav-wrapper" <
            a href="#" class="center" <{ title }>
        >
        div class="nav-content" <
            ul class="tabs tabs-transparent" <
                foreach list="tabList" extract="title:tabTitle linkClass tabClass onClick" <
                        li bind:class="tabClass" on:click="onClick" <
                            a bind:class="linkClass" <{ tabTitle }>
                    >
                >
            >
        >
    >
>
