const teks = state('');

component.onMount = function() {
    const interval = setInterval(() => {
        if (teks.value.length > 32) {
            clearInterval(interval);
        } else {
            teks.value += 'o';
        }
    }, 200);
    return () => {
        teks.value = '';
        clearInterval(interval);
    }
}

div <
    Zeta : b <"no{ teks }!">
>
