import { navbar, mainColor } from './store';

const navItems = [
    {
        title: 'Homepage',
        value: 'home'
    },
    {
        title: 'Testing Lab',
        value: 'test'
    }
];

div <
    NavBar title="RCML Demo" bind:items="navItems" bind:navState="navbar" bind:color="mainColor" <>
    if state:val="navbar" equal="home" <
        Home <>
    >
    if state:val="navbar" equal="test" <
        Testing <>
    >
>
